@model GiaCam.Models.SanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top: 65px">Chi tiết sản phẩm</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Ảnh sản phẩm:
        </dt>
        <dd>
            <img src="~/Content/Hinh_web/@Model.AnhSP" alt="Thumnail" style="max-width: 100%; height: 150px" />
        </dd>

        <dt>
            Giá sản phẩm:
        </dt>
        <dd>
            @String.Format("{0:0,0}", Model.GiaSP) VND
        </dd>

        <dt>
            Tồn kho:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TonKho)
        </dd>

        <dt>
            Ngày nhập:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NgayNhap)
        </dd>

        <dt>
            Hạn sử dụng:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.HanSuDung)
        </dd>

        <dt>
            Loại sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.LoaiSanPham.TenLoai)
        </dd>

        <dt>
            Nhà cung cấp:
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.NhaCungCap.TenNCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Quay lại", "SanPham")
</p>
